registry=https://registry.npmmirror.com/
shamefully-hoist=true
strict-peer-dependencies=false
link-workspace-packages = true
prefer-workspace-packages = true
node-options=--experimental-require-module
